@import url('https://fonts.googleapis.com/css2?family=Bellota:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
    font-family: 'Bellota',cursive;
}

body {
    background-color: #eee;
}

.header {
    background-color: #fff;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.header a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0;
}

.logo-container {
    background-image: url("/Images/1-Cg03eSKwXviDlOG7ue2gQA.png");
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    min-height: 200px;
}

.logo {
    background-image: url("/Images/1-Cg03eSKwXviDlOG7ue2gQA.png");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border: 5px solid #eee;
    border-radius: 50%;
    margin: 25px 0;
}

.styled-heading {
    background-image: url("/Images/1-Cg03eSKwXviDlOG7ue2gQA.png");
    margin: 0 auto;
    height: 30px;
    width: 200px;
    background-size: cover;
    align-items: center;
    font-size: 20px;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    color: #fff;
    border: 5px solid #555;
}

section {
    background-color: #fff;
    margin: 25px 0;
    padding: 20px;
    border-radius: 10px;
}

section p {
    font-weight: bold;
    font-size: 20px;
}

.text-style {
    font-size: 20px;
    margin: 15px 0;
    list-style-type: circle;
    font-weight: bold;
}

.none {
    height: 20px;
    background-color: #888;
    font-weight: bold;
}

.fill {
    height: 100%;
    background-color: rgb(36, 216, 248);
}

.fill1 {
    width: 70%;
}

.fill2 {
    width: 50%;
}
.fill3{
    width: 50%;
}
.fill4{
    width: 90%;
}
.fill5{
    width: 90%;
}
.fill6{
    width: 70%;
}

.t-style {
    color: black;
}

img {
    height: 100px;
    border: 5px solid #eee;
    border-radius: 10px;
}

.name-s {
    background-color: rgb(207, 195, 195);
    width: 500px;
    margin: 25px auto;
    border: 5px solid #fff;
    border-radius: 10px;
}

.center {
    text-align: center;
    list-style: none;
}

.header li a:hover {
    background-color: orange;
    transition: all 0.5s;
    border-radius: 5px;
    padding: 5px;
}

.submenu {
    position: relative;
}

.d-flext {
    list-style: none;
    position: absolute;
    top: 25px;
    right: 0;
    display: none;
}

.d-flext li {
    background-color: #eee;
    padding: 5px;
}

.d-flext li a {
    font-size: 10px;
}

.submenu:hover .d-flext {
    display: block;
}